AppCredentials.py
credentials.cpython-311.pyc
__pycache__/credentials.cpython-311.pyc
__pycache__/AppCredentials.cpython-311.pyc
__pycache__/*
memez
MemeTitlez.txt
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
declare_variables.tfvars